name: Apk build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin" # See 'Supported distributions' for available options
          java-version: "21"

      - run: curl -L -I https://www.nutaku.net/games/horny-villa/app-update/

      # - name: Setup apksigner
      #   run: |
      #     echo "$ANDROID_HOME/build-tools/36.1.0" >> $GITHUB_PATH

      # - name: Setup apktool
      #   run: |
      #     curl -o /usr/local/bin/apktool https://raw.githubusercontent.com/iBotPeaches/Apktool/master/scripts/linux/apktool
      #     curl -o /usr/local/bin/apktool.jar https://bitbucket.org/iBotPeaches/apktool/downloads/apktool_2.12.1.jar
      #     chmod -x /usr/local/bin/apktool /usr/local/bin/apktool.jar

      # - name: Build apk
      #   run: ./build.sh wet-wealth
